<div class="container">

  <p>
    Howdy! Here's a list of awesome computer scientists. Do you know any others? Add to the list yourself.
  </p>

  <form (ngSubmit)="addName()" class="form-inline">
    <div class="form-group">
      <label class="sr-only" for="newName">Awesome Computer Scientist</label>
      <input class="form-control" [(ngModel)]="newName" name="newName" placeholder="Awesome Computer Scientist">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>

  <br>

  <div class="row">
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let name of names">{{name}}</li>
      </ul>
    </div>
  </div>

</div>